[Unit]
Description=Trigger rpm-ostree OCI upgrade daily
ConditionPathExists=/run/ostree-booted

[Timer]
# Run 1h after boot and every 24h thereafter
OnBootSec=1h
OnUnitInactiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
