[Unit]
Description=rpm-ostree OCI registry upgrade and reboot
ConditionPathExists=/run/ostree-booted
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=infinity
ExecStart=/usr/bin/rpm-ostree upgrade --reboot
