[Unit]
Description=Trigger rpm-ostree OCI upgrade daily
ConditionPathExists=/run/ostree-booted

[Timer]
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
